body {
    font-family: Arial, sans-serif;
    background-color: black;
}
.todo-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20%;
    border-radius: 3px;
    border-radius: 10px;
}
.todo-input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-width: 5px;
    border-radius: 10px;
    width: 95%;
}
.button{
    border-radius: 10px;
}
.todo-item {
    margin-bottom: 5px;
}
.todo-item input[type="checkbox"] {
    margin-right: 10px;
    }